@model FinalBugTracker.Models.TicketClasses.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assignee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPriority.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>
</div>
<div>
    <strong>Attachments:</strong>
    @foreach (var attachment in Model.TicketAttachments)
    {
        <p>
            @attachment.Id- @attachment.FilePath- @attachment.Description- @attachment.Created.ToString("dd/MM/yyyy HH:mm")
            @if (User.Identity.IsAuthenticated &&
                     (User.IsInRole("Admin") || User.IsInRole("Project Manager")))
            {
                <a href="@Url.Action("Edit", "TicketAttachments", new { id = attachment.Id } )">Edit </a>
                <a href="@Url.Action("Delete", "TicketAttachments", new { id = attachment.Id })">Delete </a>
                <a href="@Url.Action("Details", "TicketAttachments", new { id = attachment.Id })">Details </a>
            }
        </p>
    }
</div>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <strong>Attach File: </strong>
    </div>
    <div>
        @using (Html.BeginForm("Create/", "TicketAttachments", FormMethod.Post))
        {
            <button type="" name="id" value="@Model.Id"> Attach </button>
        }
    </div>
}

<div>
    <strong>Comments:</strong>
    @foreach (var comment in Model.TicketComments)
    {
        <p>
            @comment.Body- @comment.Created.ToString("dd/MM/yyyy HH:mm")
            @if (User.Identity.IsAuthenticated &&
            (User.IsInRole("Admin") || User.IsInRole("Project Manager")))
            {
                <a href="@Url.Action("Edit", "TicketComments", new { id = comment.Id } )">Edit </a>
                <a href="@Url.Action("Delete", "TicketComments", new { id = comment.Id })">Delete </a>
            }
        </p>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <strong>Submit Comments:</strong>
    </div>
    <div>
        @using (Html.BeginForm("CreateComment", "Tickets", FormMethod.Post))
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <textarea name="Body"></textarea>
            if (ViewBag.ErrorMessage != null)
            {
                <span>@ViewBag.ErrorMessage</span>
            }
            <input type="submit" value="Submit" />
        }
    </div>
}
<div>
    <strong>History:</strong>
    @foreach (var history in Model.TicketHistories)
    {
        <p>
            User:@history.UserId- Property:@history.Property- OldValue:@history.OldValue- NewValue:@history.NewValue- Changed:@history.Changed.ToString("dd/MM/yyyy HH:mm")
            @if (User.Identity.IsAuthenticated &&
            (User.IsInRole("Admin") || User.IsInRole("Project Manager")))
            {
                <a href="@Url.Action("Edit", "TicketHistories", new { id = history.Id } )">Edit </a>
                <a href="@Url.Action("Delete", "TicketHistories", new { id = history.Id })">Delete </a>
            }
        </p>
    }
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
