@model IEnumerable<FinalBugTracker.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/ApplicationUsers">Users</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>
        @*<p>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Create New", "Create")
            }
        </p>*@
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        <td>
                            @Html.ActionLink("Change Role", "ChangeRole", new { id = item.Id })
                        </td>
                    }
                </tr>
            }
        </table>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
